<h1 class="animated fadeIn fast display-4">

    Sobre Nosotros</h1>
<hr>

<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia autem tempora numquam similique hic, sed illo, corporis, aut a blanditiis distinctio! Ex assumenda praesentium quam molestias saepe numquam eaque doloremque. Lorem ipsum dolor, sit amet
    consectetur adipisicing elit. Debitis suscipit illum modi error numquam excepturi dolor, amet nihil eos harum natus fugit veniam, quae, est quisquam atque id. Repudiandae, nihil.</p>