<h1 class="display-4 animated fadeIn fast">Bienvenido</h1>
<hr>
<div class="animated fadeIn">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus tempora explicabo porro sint at fugiat nobis quibusdam ratione recusandae, veritatis perferendis autem natus eaque? Dolore, tempora? Consequatur non praesentium minus! Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Dolorem sunt, libero repellat veniam nam eos a officia necessitatibus voluptates. Ex, obcaecati qui ducimus earum fugit hic! Amet hic quaerat quo!</p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ullam quam placeat magni nostrum cumque odit, aliquid dolore ipsa provident. Sequi quo animi ducimus vero corrupti nulla magni autem necessitatibus? Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Dolor excepturi sint sit modi! Sed quis vero sapiente doloribus in eum dolore beatae, reiciendis, esse voluptas voluptatem officiis, culpa amet quidem?
    </p>
</div>